.dxscControl_DevEx
{
    background: #ebecef;
    border: 1px solid #9da0aa;
}
.dxscLoadingPanel_DevEx
{
	font: 8pt Verdana;
    color: #201f35;
    background: White;
	border: 1px solid #9da0aa;
}
.dxscLoadingPanel_DevEx td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 7px 10px;
}
.dxscLoadingDiv_DevEx
{
    background: White;
    opacity: 0.25;
    filter: alpha(opacity=25);
    cursor: wait;
}

/* Headers */
.dxscDateHeader_DevEx, 
.dxscAlternateDateHeader_DevEx,
.dxscDayHeader_DevEx,
.dxscDateCellHeader_DevEx,
.dxscTodayCellHeader_DevEx,
.dxscTimelineDateHeader_DevEx,
.dxscHorizontalResourceHeader_DevEx,
.dxscVerticalResourceHeader_DevEx
{
    color: #201f35;
    background: #f2f2f3;
    border: 1px solid #cacbd3;
    border-width: 0 1px 1px 0;
    padding: 4px;
	font: 8pt Verdana;
	text-align: center;
    vertical-align: top;
    cursor: default;
	overflow: hidden;
	white-space: nowrap;
}

.dxscAlternateTimelineDateHeader_DevEx,
.dxscAlternateDateHeader_DevEx
{
    background: #ede5f9;
    color: #201f35;
}
.dxscDayHeader_DevEx
{
	border-width: 1px 1px 0 0;
}
.dxscDateCellHeader_DevEx
{
    border-width: 1px;
}
.dxscTodayCellHeader_DevEx
{
	border-top-width: 1px;
	background: #e2eafd;
    color: #201f35;
}
.dxscTimelineDateHeader_DevEx
{
    border-width: 1px 1px 1px 0;
}
.dxscHorizontalResourceHeader_DevEx
{
    border-color: #cacbd3;
	border-width: 1px 1px 1px 0;
    background: #f2f2f3;
}
.dxscVerticalResourceHeader_DevEx
{
    border-width: 1px 1px 0 0;
	border-top-color: #9da0aa;
    background: #f2f2f3;
    white-space: normal;
}
.dxscSelectionBar_DevEx
{
    border-style: solid;
	border-width: 0 1px 0 0;
	height: 30px;
}

/* Corners */
.dxscLeftTopCorner_DevEx, 
.dxscRightTopCorner_DevEx
{
    background-color: #f2f2f3;
	width: 1px;
    border-style: solid;
    border-color: #9da0aa;
	border-width: 0 0 1px;
}
.dxscLeftTopCorner_DevEx
{
    border-width: 1px 1px 1px 0;
    font: 8pt Verdana;
    text-align: center;
    padding: 2px;
}

/* Separators */
.dxscGroupSeparatorVertical_DevEx,
.dxscGroupSeparatorHorizontal_DevEx
{
	background: #ebecef;
	border: 1px solid #9da0aa;
}
.dxscDayHdrsTbl .dxscGroupSeparatorVertical_DevEx,
.dxscDayHdrsTbl .dxscGroupSeparatorHorizontal_DevEx
{
    background: White;
	border-color: #9da0aa;
}
.dxscGroupSeparatorVertical_DevEx
{
    width: 1px;
    border-width: 0 1px;
}
.dxscGroupSeparatorHorizontal_DevEx
{
	height: 1px;
    border-width: 1px 0 0;
    font-size: 1px;
}

/* Apts Area */
.dxscAllDayArea_DevEx
{
    background-color: #ebecef;
    border: 1px solid #9da0aa;
    border-width: 0 1px 1px 0;
}
.dxscDateCellBody_DevEx
{
	height: 100px;
    border: solid 1px;
    border-width: 0 1px 0 0;
}
.dxscTimeCellBody_DevEx
{
    border: solid 1px;
	font: 8pt Verdana;
}
.dxscTimelineCellBody_DevEx
{
	height: 300px;
    border-style: solid;
    border-width: 1px 1px 0 0;
}

.dxscAppointment_DevEx
{
    color: #201f35;
    font: 8pt Verdana;
    border: 1px solid #9da0aa;
    padding: 0;
	margin: 0;
	cursor: default;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.dxscAppointmentInnerBorders_DevEx
{
    border: 1px solid #9da0aa;
    padding: 0px;
}
.dxscMoreButton_DevEx
{
	font: 8pt Verdana;
	color: #201f35;
	text-decoration: underline;
	padding: 0;	
}
.dxscAppointmentHorizontalSeparator_DevEx
{
	height: 1px;
	width: 100%;
	overflow: hidden;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
}
/* Rulers */
.dxscTimeRulerHoursItem_DevEx, 
.dxscTimeRulerMinuteItem_DevEx
{
    color: #646464;
    background: White;
    border: 1px solid #a0a0a0;
    border-width: 0px 1px 1px 0;
	vertical-align: top;
	white-space: nowrap;
}
.dxscTimeRulerHoursItem_DevEx
{
    border-right-width: 0;
    border-left-color: #9da0aa;
    font: 11pt Verdana;
	text-align: right;
	width: 45px;
    padding: 4px 4px 0px;
}
.dxscTimeRulerMinuteItem_DevEx
{
    border-left-width: 0px;
	text-align: center;
	width: 13px;
	font: 7pt Verdana;
    padding: 4px;
    padding: 5px 4px 5px 1px;
}

.dxscTimeRulerHeaderHourItem_DevEx
{
    width: 55px;
}
.dxscTimeRulerHeaderMinuteItem_DevEx
{
    width: 16px;
}
.dxscScrollHeaderItem_DevEx
{
    width: 16px;
}


/* Control elements */
.dxscToolbarContainer_DevEx
{
	border-bottom: 1px solid #9da0aa;
	border-right: 1px solid #9da0aa;
}
.dxscToolbar_DevEx
{
	background: #f1f2f6 url('CssImages/ToolbarBack.png') left top repeat-x;
	padding: 3px 0 3px 3px;
}
.dxscViewSelector_DevEx
{
    background-color: transparent;
	padding: 0;
}
.dxscResourceNavigator_DevEx
{
    background: White;
    padding: 3px 6px 3px 3px;
    border: 1px solid #9da0aa;
}
.dxscViewVisibleInterval_DevEx
{
    color: #201f35;
    font: 8pt Verdana;
    padding: 0 20px;
    white-space: nowrap;
}
.dxscInplaceEditor_DevEx
{
	background: #ebecef;
	border: solid 3px black;
	padding: 0;
	font: 8pt Verdana;
	color: #201f35;
}
.dxscErrorInfo_DevEx
{
	background: #f1abab;
	color: #853a3a;
	padding: 10px;
	border: 1px solid #9da0aa;
    border-width: 1px 0;
}

/* Buttons */
.dxscViewNavigatorButton_DevEx,
.dxscViewNavigatorGotoDateButton_DevEx
{
    font: 8pt Verdana;
    color: #1b3f91;
    background: transparent;
    border: none;
    padding: 0;
    height: 21px;
	cursor: pointer;
}
.dxscViewNavigatorButton_DevEx span,
.dxscViewNavigatorGotoDateButton_DevEx span
{
    padding: 0 10px;
}
.dxscViewNavigatorButtonHover_DevEx span
{
    text-decoration: underline;
}

.dxscViewSelectorButton_DevEx
{
    font: 8pt Verdana;
    color: #201f35;
    background: #f1f2f6 url('CssImages/ViewSelectorButtonBack.png') left top repeat-x;
	border: 1px solid #9da0aa;
	border-width: 0 0 0 1px;
	padding: 8px 18px;
    cursor: pointer;
}
.dxscViewSelectorButtonHover_DevEx
{
	background: #f7f9fe url('CssImages/ViewSelectorButtonHoverBack.png') left top repeat-x;
    border-color: #9da0aa;
}
.dxscViewSelectorButtonChecked_DevEx
{
    background: White;
    border-color: #9da0aa;
}
.dxscViewSelectorButtonPressed_DevEx
{
    background: #f6f7f9 url('CssImages/ViewSelectorButtonPressedBack.png') left top repeat-x;
    border-color: #9da0aa;
}

.dxscViewSelector_DevEx.dxscVSHorz,
.dxscViewSelector_DevEx.dxscVSVert
{
    border-style: solid;
    border-color: #9da0aa;
    border-width: 1px 0 0 1px;
}
.dxscToolbar_DevEx .dxscViewSelector_DevEx
{
    border-width: 0;
}
.dxscVSHorz .dxscViewSelectorButton_DevEx,
.dxscVSVert .dxscViewSelectorButton_DevEx
{
    border-width: 0 1px 1px 0;
}
.dxscToolbar_DevEx .dxscViewSelectorButton_DevEx
{
    border-width: 0 0 0 1px;
}

.dxscResourceNavigatorButton_DevEx
{
    background: none;
	cursor: pointer;
}
.dxscResourceNavigatorButtonHover_DevEx
{
    background: none;
}
.dxscResourceNavigatorButtonPressed_DevEx
{
    background: none;
}

.dxscNavigationButton_DevEx
{
    background: none;
	cursor: pointer;
}
.dxscNavigationButtonHover_DevEx
{
    background: none;
}
.dxscNavigationButtonPressed_DevEx
{
    background: none;
}

.dxscSmartTagButton_DevEx
{
    background: #f1f2f6 url('CssImages/ViewSelectorButtonBack.png') left top repeat-x;
	border: 1px solid #9da0aa;
    padding: 4px 5px;
	cursor: pointer;
}

.dxscDVBottomMoreButton_DevEx,
.dxscDVTopMoreButton_DevEx
{
	cursor: pointer;
}

.dxscNoBorderButton_DevEx
{
	cursor: pointer;
	border: 1px solid #9da0aa;
}
.dxscNoBorderButtonHover_DevEx
{
    background: #d4dffc;
    border-color: #9da0aa;
}
.dxscNoBorderButtonPressed_DevEx
{
    background: #dddde2;
    border-color: #9da0aa;
}
.dxscControlAreaForm_DevEx
{
	font: 12pt Verdana;
	color: #201f35;
	white-space: normal;
	padding: 9px 12px 13px 12px;
	background-color: white;
}
.dxscToolTipRoundedCornersTopBottomRow_DevEx
{
	font-size: 1pt;
}
.dxscToolTipRoundedCornersTopSide_DevEx
{
	border-top: 1px solid Black;
	vertical-align: bottom; 
	height: 1px;
	background-color: #fafad2;
}
.dxscToolTipRoundedCornersLeftSide_DevEx
{
	border-left: 1px solid Black;
	vertical-align: bottom;
	background-color: #fafad2;
}
.dxscToolTipRoundedCornersRightSide_DevEx
{
	border-right: 1px solid Black;
	vertical-align: bottom; 
	background-color: #fafad2;
}
.dxscToolTipRoundedCornersBottomSide_DevEx
{
	border-bottom: 1px solid Black;
	vertical-align: bottom;
	height: 1px;
	background-color: #fafad2;
}
.dxscToolTipRoundedCornersContent_DevEx
{
	background-color: #fafad2;
	padding: 0;
}
.dxscToolTipSquaredCorners_DevEx
{
    background: #f9f9cd;
    padding: 0;
    font: 8pt Verdana;
    color: #303030;
    white-space: nowrap;
    border: 1px solid Black;
}
.dxscTimeMarker_DevEx
{
	top: -8px;
}
.dxscTimeMarkerLine_DevEx
{
	top: -2px;
	height: 3px;
	font-size: 1pt;
}
.dxscTimeMarkerLineV_DevEx
{
	position: absolute;
	background-color: White;
	border: 1px solid #9da0aa;
	width: 1px;
	font-size: 1pt;
	border-top-width: 0;
	border-bottom-width: 0;
}
.dxscTimeMarkerLineH_DevEx
{
	position: absolute;
	top: -2px;
	background-color: White;
	border: 1px solid #9da0aa;
	height: 1px;
	font-size: 1pt;
	border-left-width: 0;
	border-right-width: 0;
}

.dxScheduler_SmartTag_DevEx,
.dxScheduler_TimeMarker_DevEx,
.dxScheduler_CssImages_ToolbarBack_DevEx,
.dxScheduler_CssImages_ViewSelectorButtonBack_DevEx,
.dxScheduler_CssImages_ViewSelectorButtonHoverBack_DevEx,
.dxScheduler_CssImages_ViewSelectorButtonPressedBack_DevEx,
.dxScheduler_MoreButton_Bottom_DevEx,
.dxScheduler_MoreButton_BottomHover_DevEx,
.dxScheduler_MoreButton_Top_DevEx,
.dxScheduler_MoreButton_TopHover_DevEx,
.dxScheduler_NavigationButton_Backward_DevEx,
.dxScheduler_NavigationButton_BackwardDisabled_DevEx,
.dxScheduler_NavigationButton_BackwardHover_DevEx,
.dxScheduler_NavigationButton_Forward_DevEx,
.dxScheduler_NavigationButton_ForwardDisabled_DevEx,
.dxScheduler_NavigationButton_ForwardHover_DevEx,
.dxScheduler_ResourceNavigator_Decrease_DevEx,
.dxScheduler_ResourceNavigator_DecreaseDisabled_DevEx,
.dxScheduler_ResourceNavigator_DecreaseHover_DevEx,
.dxScheduler_ResourceNavigator_First_DevEx,
.dxScheduler_ResourceNavigator_FirstDisabled_DevEx,
.dxScheduler_ResourceNavigator_FirstHover_DevEx,
.dxScheduler_ResourceNavigator_Increase_DevEx,
.dxScheduler_ResourceNavigator_IncreaseDisabled_DevEx,
.dxScheduler_ResourceNavigator_IncreaseHover_DevEx,
.dxScheduler_ResourceNavigator_Last_DevEx,
.dxScheduler_ResourceNavigator_LastDisabled_DevEx,
.dxScheduler_ResourceNavigator_LastHover_DevEx,
.dxScheduler_ResourceNavigator_Next_DevEx,
.dxScheduler_ResourceNavigator_NextDisabled_DevEx,
.dxScheduler_ResourceNavigator_NextHover_DevEx,
.dxScheduler_ResourceNavigator_NextPage_DevEx,
.dxScheduler_ResourceNavigator_NextPageDisabled_DevEx,
.dxScheduler_ResourceNavigator_NextPageHover_DevEx,
.dxScheduler_ResourceNavigator_Prev_DevEx,
.dxScheduler_ResourceNavigator_PrevDisabled_DevEx,
.dxScheduler_ResourceNavigator_PrevHover_DevEx,
.dxScheduler_ResourceNavigator_PrevPage_DevEx,
.dxScheduler_ResourceNavigator_PrevPageDisabled_DevEx,
.dxScheduler_ResourceNavigator_PrevPageHover_DevEx,
.dxScheduler_ViewNavigator_Backward_DevEx,
.dxScheduler_ViewNavigator_Down_DevEx,
.dxScheduler_ViewNavigator_Forward_DevEx,
.dxScheduler_Appointment_DayClock_DevEx,
.dxScheduler_Appointment_EndArrow_DevEx,
.dxScheduler_Appointment_NightClock_DevEx,
.dxScheduler_Appointment_NoRecurrence_DevEx,
.dxScheduler_Appointment_Recurrence_DevEx,
.dxScheduler_Appointment_Reminder_DevEx,
.dxScheduler_Appointment_StartArrow_DevEx,
.dxScheduler_AppointmentClockArrows_day_hour_00_DevEx,
.dxScheduler_AppointmentClockArrows_day_hour_05_DevEx,
.dxScheduler_AppointmentClockArrows_day_hour_10_DevEx,
.dxScheduler_AppointmentClockArrows_day_hour_15_DevEx,
.dxScheduler_AppointmentClockArrows_day_hour_20_DevEx,
.dxScheduler_AppointmentClockArrows_day_hour_25_DevEx,
.dxScheduler_AppointmentClockArrows_day_hour_30_DevEx,
.dxScheduler_AppointmentClockArrows_day_hour_35_DevEx,
.dxScheduler_AppointmentClockArrows_day_hour_40_DevEx,
.dxScheduler_AppointmentClockArrows_day_hour_45_DevEx,
.dxScheduler_AppointmentClockArrows_day_hour_50_DevEx,
.dxScheduler_AppointmentClockArrows_day_hour_55_DevEx,
.dxScheduler_AppointmentClockArrows_day_minute_00_DevEx,
.dxScheduler_AppointmentClockArrows_day_minute_05_DevEx,
.dxScheduler_AppointmentClockArrows_day_minute_10_DevEx,
.dxScheduler_AppointmentClockArrows_day_minute_15_DevEx,
.dxScheduler_AppointmentClockArrows_day_minute_20_DevEx,
.dxScheduler_AppointmentClockArrows_day_minute_25_DevEx,
.dxScheduler_AppointmentClockArrows_day_minute_30_DevEx,
.dxScheduler_AppointmentClockArrows_day_minute_35_DevEx,
.dxScheduler_AppointmentClockArrows_day_minute_40_DevEx,
.dxScheduler_AppointmentClockArrows_day_minute_45_DevEx,
.dxScheduler_AppointmentClockArrows_day_minute_50_DevEx,
.dxScheduler_AppointmentClockArrows_day_minute_55_DevEx,
.dxScheduler_AppointmentClockArrows_night_hour_00_DevEx,
.dxScheduler_AppointmentClockArrows_night_hour_05_DevEx,
.dxScheduler_AppointmentClockArrows_night_hour_10_DevEx,
.dxScheduler_AppointmentClockArrows_night_hour_15_DevEx,
.dxScheduler_AppointmentClockArrows_night_hour_20_DevEx,
.dxScheduler_AppointmentClockArrows_night_hour_25_DevEx,
.dxScheduler_AppointmentClockArrows_night_hour_30_DevEx,
.dxScheduler_AppointmentClockArrows_night_hour_35_DevEx,
.dxScheduler_AppointmentClockArrows_night_hour_40_DevEx,
.dxScheduler_AppointmentClockArrows_night_hour_45_DevEx,
.dxScheduler_AppointmentClockArrows_night_hour_50_DevEx,
.dxScheduler_AppointmentClockArrows_night_hour_55_DevEx,
.dxScheduler_AppointmentClockArrows_night_minute_00_DevEx,
.dxScheduler_AppointmentClockArrows_night_minute_05_DevEx,
.dxScheduler_AppointmentClockArrows_night_minute_10_DevEx,
.dxScheduler_AppointmentClockArrows_night_minute_15_DevEx,
.dxScheduler_AppointmentClockArrows_night_minute_20_DevEx,
.dxScheduler_AppointmentClockArrows_night_minute_25_DevEx,
.dxScheduler_AppointmentClockArrows_night_minute_30_DevEx,
.dxScheduler_AppointmentClockArrows_night_minute_35_DevEx,
.dxScheduler_AppointmentClockArrows_night_minute_40_DevEx,
.dxScheduler_AppointmentClockArrows_night_minute_45_DevEx,
.dxScheduler_AppointmentClockArrows_night_minute_50_DevEx,
.dxScheduler_AppointmentClockArrows_night_minute_55_DevEx,
.dxScheduler_InplaceEditor_Cancel_DevEx,
.dxScheduler_InplaceEditor_EditForm_DevEx,
.dxScheduler_InplaceEditor_Save_DevEx,
.dxScheduler_Menu_Delete_DevEx,
.dxScheduler_Menu_GoToDate_DevEx,
.dxScheduler_Menu_NewAppointment_DevEx,
.dxScheduler_Menu_RecurringAppointment_DevEx,
.dxScheduler_StatusInfo_Error_DevEx,
.dxScheduler_StatusInfo_Info_DevEx,
.dxScheduler_StatusInfo_Warning_DevEx,
.dxScheduler_Tooltip_BottomLeft_DevEx,
.dxScheduler_Tooltip_BottomRight_DevEx,
.dxScheduler_Tooltip_BottomStem_DevEx,
.dxScheduler_Tooltip_Empty_DevEx,
.dxScheduler_Tooltip_TopLeft_DevEx,
.dxScheduler_Tooltip_TopRight_DevEx {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxScheduler_SmartTag_DevEx {
    background-position: -1px -1px;
    width: 9px;
    height: 9px;
}

.dxScheduler_TimeMarker_DevEx {
    background-position: -11px -1px;
    width: 43px;
    height: 25px;
}

.dxScheduler_CssImages_ToolbarBack_DevEx {
    background-position: -55px -1px;
    width: 1px;
    height: 27px;
}

.dxScheduler_CssImages_ViewSelectorButtonBack_DevEx {
    background-position: -57px -1px;
    width: 1px;
    height: 27px;
}

.dxScheduler_CssImages_ViewSelectorButtonHoverBack_DevEx {
    background-position: -59px -1px;
    width: 1px;
    height: 27px;
}

.dxScheduler_CssImages_ViewSelectorButtonPressedBack_DevEx {
    background-position: -61px -1px;
    width: 1px;
    height: 27px;
}

.dxScheduler_MoreButton_Bottom_DevEx {
    background-position: -63px -1px;
    width: 21px;
    height: 21px;
}

.dxScheduler_MoreButton_BottomHover_DevEx {
    background-position: -85px -1px;
    width: 21px;
    height: 21px;
}

.dxScheduler_MoreButton_Top_DevEx {
    background-position: -107px -1px;
    width: 21px;
    height: 21px;
}

.dxScheduler_MoreButton_TopHover_DevEx {
    background-position: -129px -1px;
    width: 21px;
    height: 21px;
}

.dxScheduler_NavigationButton_Backward_DevEx {
    background-position: -151px -1px;
    width: 25px;
    height: 210px;
}

.dxScheduler_NavigationButton_BackwardDisabled_DevEx {
    background-position: -177px -1px;
    width: 25px;
    height: 210px;
}

.dxScheduler_NavigationButton_BackwardHover_DevEx {
    background-position: -203px -1px;
    width: 25px;
    height: 210px;
}

.dxScheduler_NavigationButton_Forward_DevEx {
    background-position: -229px -1px;
    width: 25px;
    height: 210px;
}

.dxScheduler_NavigationButton_ForwardDisabled_DevEx {
    background-position: -255px -1px;
    width: 25px;
    height: 210px;
}

.dxScheduler_NavigationButton_ForwardHover_DevEx {
    background-position: -281px -1px;
    width: 25px;
    height: 210px;
}

.dxScheduler_ResourceNavigator_Decrease_DevEx {
    background-position: -307px -1px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_DecreaseDisabled_DevEx {
    background-position: -331px -1px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_DecreaseHover_DevEx {
    background-position: -355px -1px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_First_DevEx {
    background-position: -379px -1px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_FirstDisabled_DevEx {
    background-position: -403px -1px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_FirstHover_DevEx {
    background-position: -427px -1px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_Increase_DevEx {
    background-position: -451px -1px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_IncreaseDisabled_DevEx {
    background-position: -475px -1px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_IncreaseHover_DevEx {
    background-position: -499px -1px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_Last_DevEx {
    background-position: -523px -1px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_LastDisabled_DevEx {
    background-position: -547px -1px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_LastHover_DevEx {
    background-position: -571px -1px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_Next_DevEx {
    background-position: -595px -1px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_NextDisabled_DevEx {
    background-position: -619px -1px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_NextHover_DevEx {
    background-position: -643px -1px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_NextPage_DevEx {
    background-position: -1px -212px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_NextPageDisabled_DevEx {
    background-position: -25px -212px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_NextPageHover_DevEx {
    background-position: -49px -212px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_Prev_DevEx {
    background-position: -73px -212px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_PrevDisabled_DevEx {
    background-position: -97px -212px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_PrevHover_DevEx {
    background-position: -121px -212px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_PrevPage_DevEx {
    background-position: -145px -212px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_PrevPageDisabled_DevEx {
    background-position: -169px -212px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ResourceNavigator_PrevPageHover_DevEx {
    background-position: -193px -212px;
    width: 23px;
    height: 19px;
}

.dxScheduler_ViewNavigator_Backward_DevEx {
    background-position: -217px -212px;
    width: 21px;
    height: 21px;
}

.dxScheduler_ViewNavigator_Down_DevEx {
    background-position: -239px -212px;
    width: 21px;
    height: 21px;
}

.dxScheduler_ViewNavigator_Forward_DevEx {
    background-position: -261px -212px;
    width: 21px;
    height: 21px;
}

.dxScheduler_Appointment_DayClock_DevEx {
    background-position: -283px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_EndArrow_DevEx {
    background-position: -299px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_NightClock_DevEx {
    background-position: -315px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_NoRecurrence_DevEx {
    background-position: -331px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_Recurrence_DevEx {
    background-position: -347px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_Reminder_DevEx {
    background-position: -363px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_Appointment_StartArrow_DevEx {
    background-position: -379px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_00_DevEx {
    background-position: -395px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_05_DevEx {
    background-position: -411px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_10_DevEx {
    background-position: -427px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_15_DevEx {
    background-position: -443px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_20_DevEx {
    background-position: -459px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_25_DevEx {
    background-position: -475px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_30_DevEx {
    background-position: -491px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_35_DevEx {
    background-position: -507px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_40_DevEx {
    background-position: -523px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_45_DevEx {
    background-position: -539px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_50_DevEx {
    background-position: -555px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_hour_55_DevEx {
    background-position: -571px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_00_DevEx {
    background-position: -587px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_05_DevEx {
    background-position: -603px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_10_DevEx {
    background-position: -619px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_15_DevEx {
    background-position: -635px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_20_DevEx {
    background-position: -651px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_25_DevEx {
    background-position: -667px -212px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_30_DevEx {
    background-position: -1px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_35_DevEx {
    background-position: -17px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_40_DevEx {
    background-position: -33px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_45_DevEx {
    background-position: -49px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_50_DevEx {
    background-position: -65px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_day_minute_55_DevEx {
    background-position: -81px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_00_DevEx {
    background-position: -97px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_05_DevEx {
    background-position: -113px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_10_DevEx {
    background-position: -129px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_15_DevEx {
    background-position: -145px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_20_DevEx {
    background-position: -161px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_25_DevEx {
    background-position: -177px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_30_DevEx {
    background-position: -193px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_35_DevEx {
    background-position: -209px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_40_DevEx {
    background-position: -225px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_45_DevEx {
    background-position: -241px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_50_DevEx {
    background-position: -257px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_hour_55_DevEx {
    background-position: -273px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_00_DevEx {
    background-position: -289px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_05_DevEx {
    background-position: -305px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_10_DevEx {
    background-position: -321px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_15_DevEx {
    background-position: -337px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_20_DevEx {
    background-position: -353px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_25_DevEx {
    background-position: -369px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_30_DevEx {
    background-position: -385px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_35_DevEx {
    background-position: -401px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_40_DevEx {
    background-position: -417px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_45_DevEx {
    background-position: -433px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_50_DevEx {
    background-position: -449px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_AppointmentClockArrows_night_minute_55_DevEx {
    background-position: -465px -234px;
    width: 15px;
    height: 15px;
}

.dxScheduler_InplaceEditor_Cancel_DevEx {
    background-position: -481px -234px;
    width: 19px;
    height: 19px;
}

.dxScheduler_InplaceEditor_EditForm_DevEx {
    background-position: -501px -234px;
    width: 19px;
    height: 19px;
}

.dxScheduler_InplaceEditor_Save_DevEx {
    background-position: -521px -234px;
    width: 19px;
    height: 19px;
}

.dxScheduler_Menu_Delete_DevEx {
    background-position: -74px -283px;
    width: 16px;
    height: 16px;
}

.dxScheduler_Menu_GoToDate_DevEx {
    background-position: -91px -283px;
    width: 16px;
    height: 16px;
}

.dxScheduler_Menu_NewAppointment_DevEx {
    background-position: -108px -283px;
    width: 16px;
    height: 16px;
}

.dxScheduler_Menu_RecurringAppointment_DevEx {
    background-position: -125px -283px;
    width: 16px;
    height: 16px;
}

.dxScheduler_StatusInfo_Error_DevEx {
    background-position: -541px -234px;
    width: 48px;
    height: 48px;
}

.dxScheduler_StatusInfo_Info_DevEx {
    background-position: -590px -234px;
    width: 48px;
    height: 48px;
}

.dxScheduler_StatusInfo_Warning_DevEx {
    background-position: -639px -234px;
    width: 48px;
    height: 48px;
}

.dxScheduler_Tooltip_BottomLeft_DevEx {
    background-position: -1px -283px;
    width: 7px;
    height: 7px;
}

.dxScheduler_Tooltip_BottomRight_DevEx {
    background-position: -9px -283px;
    width: 7px;
    height: 7px;
}

.dxScheduler_Tooltip_BottomStem_DevEx {
    background-position: -17px -283px;
    width: 40px;
    height: 53px;
}

.dxScheduler_Tooltip_Empty_DevEx {
    background-position: -142px -283px;
    width: 1px;
    height: 1px;
}

.dxScheduler_Tooltip_TopLeft_DevEx {
    background-position: -58px -283px;
    width: 7px;
    height: 7px;
}

.dxScheduler_Tooltip_TopRight_DevEx {
    background-position: -66px -283px;
    width: 7px;
    height: 7px;
}

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         